body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }

  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color:#F9A8A8 ; /* Palegoldnrod */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Black Gray */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #F9A8A8; /* Palegoldnrod */
      color: #fff;
  }
  .bg-5 { 
      background-color: #474e5d; /* Black Gray */
      color: #fff;
      height:40px;
  }

  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  
.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 70px; /* change it to desired width */
    background-color: white; /* change to desired color */
}
.logo {
    
    width: 70px;
    height: 60px;
    margin-right: 20px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
display: inline-block;
    vertical-align: top;
}
.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 70px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}
  .navigation-bar  a {
    float:right;
  }
  }